@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;

}

body {
    background-color: #306BAC;
    color: #f6f6f6;
    box-sizing: border-box;

}

.titulo-destacado {
    color: #918EF4;
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 5% 7%;
    justify-content: space-between;
}

.presentacion__contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentacion__contenido__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.presentacion__enlaces__subtitulo{
    font-size: 24px;
    font-family: "Krona One", sans-serif;
    text-align: center;
    font-weight: 400;
}

.presentacion__enlaces__link{
    width: 378px;
    height: 68px;
    color: #f6f6f6;
    background-color: #306BAC;
    text-align: center;
    border: 2px solid #918EF4;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    padding: 16px 0;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.presentacion__enlaces__link:hover{
    background-color:#918EF4;
}
.titulo-destacado:hover{
    color: #74226C;
}
.footer{
   
    background-color: #918EF4;
    padding: 24px;
}
.footer__texto{
    color: #306BAC;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}
.header{

}
.header__menu{

}
.header__menu__link{
    
}